name: Rubocop
on: 
  push:
    paths:
    - 'rubocop/**'
    - '.github/workflows/rubocop.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [2.7]
    steps:
      - uses: actions/checkout@v2
      - name: Use Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: install
        run: bundle install
        working-directory: rubocop
      - name: Run rubocop
        uses: reviewdog/action-rubocop@v1
        with:
          workdir: rubocop
          fail_on_error: true
          reporter: github-check
          rubocop_version: 1.23.0
          rubocop_extensions: rubocop-rspec:gemfile 
          github_token: ${{ secrets.github_token }}

